{% extends 'base.html.twig' %}
{% block bar %}{% include 'blog/navbar/mainbar.html.twig' %}{% endblock %}
{% block title %}Log in{% endblock %}
{% block text%}
    <div id="login">
    {{ form(form_form) }}
    </div>
{% endblock %}