{% extends 'base.html.twig' %}
{% block bar %}{% include 'blog/navbar/mainbar.html.twig' %}{% endblock %}
{% block title %}Strona glowna{% endblock %}
{% block body %}
    <h1>Hello user!</h1>
{% endblock %}
{% block text%}
    <h5>Witaj na naszym blogu! Pytaj oraz pomagaj innym znaleźć rozwiązanie problemów. </h5>
{% endblock %}