{% extends 'base.html.twig' %}
{% block bar %}{% include 'blog/navbar/mainbar.html.twig' %}{% endblock %}
{% block title %}Sign up{% endblock %}
{% block text%}
    <div id="login">
        {{ form(signup_form) }}
    </div>
{% endblock %}