<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link href="styl.css" rel="stylesheet">
        <link href="styl-custom.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block bar%}{% endblock %}<br>
        {% block body %}{% endblock %}<br>
        {% block text %}{% endblock %}
    </body>
</html>
